# Envs definitions

PDF_PATH="../data/source.pdf"
CHROMA_DIR="./chroma_db"
EMBEDDING_MODEL="sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2"

# Hugging Face – Apis-keys for llms
HUGGINGFACEHUB_API_TOKEN="hf_TF..."
HF_MODEL_ID="Qwen/Qwen3.5-4B"


# LangSmith
LANGSMITH_TRACING=true
LANGSMITH_API_KEY="lsv2_pt_ffee..."
LANGSMITH_PROJECT="rag-pdf-demo"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"